html, body {
    height: 100%;
    margin: 0;
}
#map {
    height: 700px;
}
footer {
    position: absolute;
    bottom: 0.5em;
}
footer a svg { margin-top: -5px; }
#dayFirst,
#dayBefore,
#dayAfter,
#dayLast {
    position: absolute;
    top: 1em;
    z-index: 999;
    height: 30px;
    width: 30px;
    color: black;
    border-radius: 5px;
    font-size: 0.6em;
    float: right;
}
#dayFirst { right: 14em; }
#dayBefore { right: 10em; }
#dayAfter { right: 6em; }
#dayLast { right: 2em; }

#lastUpdate {
    position: absolute;
    background: white;
    top: 5em;
    z-index: 999;
    display: block;
    right: 2.5em;
    font-size: 0.6em;
    padding: 0.5em;
}

#results {
    width: 100%;
    max-height: 400px;
    border: 0;
}

.leaflet-popup-content strong {
    text-transform: capitalize;
}

.navbar {
    background-color: #117a8b;
}

a {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #search-form .form-group.mb-2 { width: 100%; }
    #search-form .form-group.mx-2.mb-2 { width: inherit; margin-left: 0 !important; }
    #value-form { width: 280px; }
    footer { position: relative; }
}
@media only screen and (max-width: 425px) {
    #value-form { width: 320px; }
}
@media only screen and (max-width: 375px) {
    #value-form { width: 270px; }
}
@media only screen and (max-width: 320px) {
    #value-form { width: 215px; }
}
