/* GENERIC */
html, body {
    height: 100%;
    margin: 0;
}

a {
    cursor: pointer;
}

/* HEADER */
.navbar {
    background-color: #117a8b;
}
.navbar svg {
    filter: invert(1);
}

/* RESULTS */
#results {
    border: 0;
    width: 100%;
    overflow: visible;
    font-size: 0.7em;
    overflow-y: auto;
}

/* MAP */
#map {
    min-height: 500px;
    height: 65%;
}

.leaflet-popup-content strong {
    text-transform: capitalize;
}

#dayPlay,
#dayFirst,
#dayBefore,
#dayAfter,
#dayLast {
    background-color: white;
    border-radius: 5px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,.2);
    box-shadow: 2px 2px 5px #CCCCCC;
    color: black;
    float: right;
    font-size: 0.6em;
    font-weight: bold;
    height: 30px;
    position: absolute;
    top: 1em;
    width: 30px;
    z-index: 999;
}
#dayPlay { right: 18em; }
#dayFirst { right: 14em; }
#dayBefore { right: 10em; }
#dayAfter { right: 6em; }
#dayLast { right: 2em; }

#lastUpdate {
    background: white;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,.2);
    box-shadow: 2px 2px 5px #CCCCCC;
    display: block;
    font-size: 0.7em;
    font-weight: bold;
    padding: 0.7em;
    position: absolute;
    right: 2em;
    top: 5em;
    z-index: 999;
}

#loader {
    background-color: grey;
    color: white;
    font-size: 2em;
    font-weight: bold;
    height: 100%;
    opacity: 0.5;
    padding-top: 50%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 999999;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 769px) {
    main { height: calc(100% - 47px); }

    main > .container-fluid,
    main > .container-fluid > .row {
        height: 100%;
    }
    .alert > strong:first-child:before {
        content: " ";
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    #search-form .form-group.mb-2 { width: 100%; }
    #search-form .form-group.mx-2.mb-2 { width: inherit; margin-left: 0 !important; }
    #value-form { width: 280px; }
}
@media only screen and (max-width: 425px) {
    .navbar .small { font-size: 10px; }
    #value-form { width: 320px; }
}
@media only screen and (max-width: 375px) {
    #value-form { width: 270px; }
}
@media only screen and (max-width: 320px) {
    #value-form { width: 215px; }
}
